@import"../variables.styl";

.order-page
    width 100%
    max-width 960px
    min-width 320px
    height 100%
    margin 0 auto
    margin-top 10%

.order-wrapper
    width 70%
    margin 0 auto
    text-align center
    
.contacts
    width 100%
    margin 0 auto
    >p
        color $yellowColor
        font-size 30px
        font-weight 700
        margin 5px 0
    >input
        width 50%
        height 30px
        margin 7px auto
        color $yellowColor
        border 1.5px solid $lightRedColor
        border-radius 4px
        outline-color $darkRedColor
        @media screen and (max-width: 760px)
            width 80%

 button
    width 200px
    height 30px
    background $yellowColor
    color $baseTextColor
    font-size 20px 
    border none
    border-radius 4px


    

