$defaultContainerWidth=960px
$contentColor= #FFF

$baseTextColor= #028f99
$yellowColor= #ffc700
$lightYellowColor= lighten(#ffc700, 20%)
$darkRedColor = #790303
$lightRedColor = #c38d8d
$reallyLightYellow = lighten(#ffc700, 50%)