@import"../variables.styl";

.details
	width 100%
	max-width 960px
	min-width 320px
	margin 0 auto

.item-details
	&__content
		margin 0 auto
		min-height 500px
		display flex
		flex-wrap wrap
		align-items center
	&__image
		height 100%
		max-width 50%
		min-width 290px
		@media screen and (max-width: 580px)
			min-width 70%
			margin 0 auto
		>img 
			width 100%
	&__right
		max-width 50%
		min-width 49%
		@media screen and (max-width: 960px)
			box-sizing border-box
			padding 0 20px
		@media screen and (max-width: 580px)
			min-width 100%
			padding 0 30px
	&__name
		color $baseTextColor
		font-size 30px
		font-weight 700
		margin 5% auto
	&__description
		color $darkRedColor
		text-align justify
	&__price
		text-align end
		color $yellowColor
		font-size 40px
		
		
