<div class="cart">
    <h2 class="cart-title">Cart</h2>

    <ul>
        <li ng-repeat="item in $ctrl.purchases track by $index" class="cart-item__wrapper">
            <div class="cart-item__image">
                <img ng-src="http://localhost:4001/api/v1/{{item.imgUrl}}">
            </div>
            <div class="cart-item__name">
                {{item.name}}
            </div>
            <div class="cart-item__price">
                {{item.price | currency: "$ ": 0}}
            </div>
        </li>
    </ul>

    <div class="total">
        <div class="total_price">Total {{$ctrl.totalPrice | currency: "$ ": 0}}</div>
        <a class="checkout-btn" ui-sref="order">
            <button>Make order</button>
        </a>
    </div>
</div>